div {
    min-height: 50px;
}

#purpleDiv {
    background-color: purple;
    grid-area:purple;
}
#orangeDiv {
    background-color: orange;
    grid-area: orange;
}

#redDiv {
    background-color: red;
    grid-area:red;
}
#DarkGreenDiv {
    grid-area: DarkGreen;
    background-color: darkgreen;
}

#greenDiv {
    background-color: #8CE029 ;
    grid-area:green;
}
#yellowDiv {
    background-color: yellow;
    grid-area: yellow;
}

#blueDiv {
    background-color: blue;
    grid-area:blue;
}


#blackDiv {
    background-color: black;
    grid-area: black;
}

  
#container {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6, 1fr); 
    gap:5px;
    height:75vh;
   grid-template-areas: 
    'purple orange orange orange orange orange red'
    'purple orange orange orange orange orange red'
    'purple green green blue black black red'
    'purple yellow yellow yellow yellow yellow red'
    'purple DarkGreen DarkGreen DarkGreen DarkGreen DarkGreen DarkGreen' 
    'purple DarkGreen DarkGreen DarkGreen DarkGreen DarkGreen DarkGreen';
}

#container > div  {
    border-color: black;
    border-style:solid;
    border-width:1px;

}
@media screen and (max-width: 500px) {
  #container div {
        height: 20vh;
    }

    #container #purpleDiv {
        height: 40vh;
    } 

    #container{
        display:flex; 
        flex-direction: column;

     }
    
   
}