div {
    min-height: 50px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* grid-template-columns: 14.25%, 14.25%, 57%, 14.25%;*/
} 
  
#cyanDiv {
    background-color: cyan;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    /* grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 2; */
}

#redDiv {
    background-color: red;
    /* grid-column: 1 / 5; */
    grid-row: 2 / 4;
}

#purpleDiv {
    background-color: purple;
}

#greenDiv {
    background-color: green;
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;
}

#blueDiv {
    background-color: blue;
}

#orangeDiv {
    background-color: orange;
}

#blackDiv {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 4;
    grid-row-end: 5;
}
  