div {
    min-height: 50px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* gap: 1%; - gap wont be even between boxes as it changes in regards to height and width */
    gap: 10px; 
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: 14.25% 14.25% 57% 14.25%; */

}
  
#cyanDiv {
    background-color: cyan;
    /* grid-column: 1 / 5; */
    grid-column: 1 / -1;
    grid-row: 1 / 2; 
    /* grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; */
}

#redDiv {
    background-color: red;
    grid-column: 1 / 2 ;
    grid-row: 2 / 4;
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4; */
}

#purpleDiv {
    background-color: purple;
    grid-column: 2 / 4;
    grid-row: 2 / 4; 
}

#greenDiv {
    background-color: green;
    grid-column: -2 / -1;
    grid-row: 2 / 3; 
    /* grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3; */
}

#blueDiv {
    background-color: blue;
    grid-column: -2 / -1;
    grid-row: 3 / 4;
    /* -2 / -1 ensures theyre always in that last column */
}

#orangeDiv {
    background-color: orange;
    grid-column: 2 / -1; /* can mix positive and negative numbers. -1 is always going to be the end of the column*/
    grid-row: 4 / 5;
}

#blackDiv {
    background-color: black;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5; */
}
  

@media screen and (max-width: 500px) {
    /* #purpleDiv {
        border: 5px black solid;
    } */

    #redDiv {
        display: none;
    }

    #blackDiv{
        display: none;
    }

    #container {
        display: flex; 
        flex-direction: column;
    }
}