div {
    min-height: 50px;
}
img {
    /* height: auto; */
    width: 100%;
    height: 100%; 
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    /* height: 50vh; */
    /* grid-template-columns: 1fr 1fr fr 1fr; */
    /* grid-template-columns: 14.25% 14.25% 57% 14.25%; */
}
  
#cyanDiv {
    background-color: cyan;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    /* grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; */
}

#redDiv {
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#purpleDiv {
    background-color: purple;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}

#greenDiv {
    background-color: green;
    grid-row: 2 / 3;
    grid-column: -2 / -1;
}

#blueDiv {
    background-color: blue;
    grid-row: 3 / 4;
    grid-column: -2 / -1;
}

#orangeDiv {
    background-color: orange;
    grid-row: 4 / 5;
    grid-column: 2 / -1;
}

#blackDiv {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 4;
    grid-row-end: 5;
}


@media screen and (max-width: 500px) {
    #redDiv {
        display: none;
    }

    #blackDiv {
        display: none;
    }

    /* #container div {
        height: 20vh;
    }

    #container #purpleDiv {
        height: 40vh;
    } */

    #container {
        display: flex;
        flex-direction: column;
    }
}