div {
    min-height: 50px;
}

#container {
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    display: grid;
}
  
#cyanDiv {
    background-color: cyan;
}

#redDiv {
    background-color: red;
}

#purpleDiv {
    background-color: purple;
}

#greenDiv {
    background-color: green;
}

#blueDiv {
    background-color: blue;
}

#orangeDiv {
    background-color: orange;
}

#blackDiv {
    background-color: black;
}
  