div {
    min-height: 50px;
}

#container {
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: repeat(4,1fr);
     gap: 10px;
}
  
#cyanDiv {
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 2;
    background-color: cyan;

}

#redDiv {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 4;
    background-color: red;

}

#purpleDiv {
    
    background-color: purple;
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 4;
}

#greenDiv {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;
    background-color: green;
}

#blueDiv {

    background-color: blue;
}

#orangeDiv {

    background-color: orange;
    grid-column-start: 2;
    grid-column-end: 5;

    grid-row-start: 4;
    grid-row-end: 5;
}

#blackDiv {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 1;

    grid-row-start: 4;
    grid-row-end: 5;
}
@media screen and (max-width: 500px)
{
    #redDiv
    {
        display: none;
    }
    #blackDiv
    {
        display: none;
    }
    #container
    {
        display: flex;
        flex-direction: column;
    }
}
      